@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap");

/* Variables */
:root {
  --font-family-1: 'Mulish', sans-serif;
  --font-family-2: 'Montserrat', sans-serif;
  --font-family-3: 'Roboto', sans-serif;
  --font-family-4: 'Open Sans', sans-serif;
  --normal-font:300;
  --bold-font: 400;
  --bolder-font: 900;
  --bg-color: #f4f4f4;
  --primary-color: #4f49ca;
  --secondary-color: #e46b37;
  --primary-shadow: #7f82a1;
  --secondary-shadow: #a57f6e;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Bar */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family-3);
}

nav {
  position: sticky; /* always stays at top */
  top: 0;
  left: 0;
  z-index: 1; /* navbar displays over everything */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px #CECECE;
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 2.5rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* Short Intro and Headshot section */

.short-intro { /* contains image and bio */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.short-intro img {
  margin: 2rem 2rem 2rem 2rem;
  height: 20rem;
  width: 20rem;
}

.bio {
  margin: 1rem 2rem 1rem 2rem;
  width: 35rem;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h2 {
  font-family: var(--font-family-2);
  margin-bottom: var(--bottom-margin);
  font-size: 1.6rem;
}

.bio p {
  font-family: var(--font-family-1);
  line-height: var(--line-height);
  font-size: 1.2rem;
  padding: 0.3rem 0;
}

.bio span {
  color: var(--primary-color);
  font-weight: var(--bolder-font);
}

/* Continued about section */

.more-about {
  background-color: var(--bg-color);
  padding: 1rem 3rem;
}

.more-about h2 {
  font-family: var(--font-family-2);
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  font-family: var(--font-family-2);
  line-height: var(--line-height);
  padding: 0.4rem;
}

/* Skills Section */

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 0.5rem;
}

.icon {
  width: 5rem;
  height: 5rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 8px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Projects Section */

.projects {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.projects h2 {
  font-family: var(--font-family-2);
  margin-bottom: var(--bottom-margin-2);
  margin-top: var(--bottom-margin-2);
  text-align: center;
  font-size: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  transition: transform 0.2s linear;
  cursor: pointer;
}

.project-details h3 {
  font-family: var(--font-family-4);
  color: #5550b0;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-details-container {
  display: flex;
  align-items: center;
  text-align: center;
  width: 50rem;
}

.project-details-container img {
  width: 15rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.project-details-container p {
  font-family: var(--font-family-2);
  padding: 1rem;
}

.image-container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.image-container p {
  font-family: var(--font-family-2);
  padding: 0 0;
  font-style: italic;
  color: #3e3c58;
}

.proj-skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 0.5rem;
}

.proj-skills-card {
  border-radius: 4px;
  border: 1.5px solid var(--primary-color);
  padding: 0.4rem;
  margin: 1rem 1rem 0rem 1rem;
  width: 5rem;
  color: var(--primary-color);
  font-family: var(--font-family-2);
  font-size: 0.9rem;
  font-weight: bold;
}

.large-proj-skills-card {
  width: 6rem;
}

.project-card:hover {
  transform: translateY(-4px);
}

/* .proj-skills-card:hover {
  border: 1.5px solid var(--primary-color);
  color: white;
  background-color: var(--primary-color);
} */

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-details a {
  padding: 1rem;
}

.project-link {
  font-family: var(--font-family-4);
}

.repo-link {
  justify-content: center;
}

/* Project Pages */
video {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.single-proj {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 55rem;
  width: 100%;
}

.single-proj h1 {
  font-family: var(--font-family-4);
  font-size: 2rem;
  padding-bottom: 1rem;
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.single-proj h2 {
  font-family: var(--font-family-1);
  font-size: 1.8rem;
  padding: 1rem 2rem;
  text-align: center;
}

.single-proj h3 {
  font-family: var(--font-family-1);
  font-size: 1.5rem;
  text-align: left;
  padding: 1rem 1rem;
}

.single-proj p {
  font-family: var(--font-family-2);
  line-height: var(--line-height);
  padding: 1rem 1rem;
}

.single-proj li {
  font-family: var(--font-family-2);
  line-height: var(--line-height);
  padding: 0.2rem;
}

.single-proj figure {
  width: 100%;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.single-proj figcaption {
  font-family: var(--font-family-2);
  font-size: 0.9rem;
  text-align: center;
  font-style: italic;
  padding: 0rem 1rem;
}

.single-proj figcaption {
  font-family: var(--font-family-2);
  font-size: 0.9rem;
  text-align: center;
  font-style: italic;
  padding: 0rem 1rem;
}

.single-proj .center-text p {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 1rem;
}

.multi-img-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.proj-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 20rem;
  width: auto;

}

.single-proj-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
}

.code-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.environment-proj-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* Project Vertical Card Section */

.vert-projs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.vertical-proj-details-container {
  width: 20rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.vertical-card-shorter {
  height: 20rem;
}

.vertical-proj-details-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 10rem;
  display: block;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.vertical-proj-details-container p {
  font-family: var(--font-family-2);
  padding: 1rem;
}

.vert-img-wrapper {
  height: 13rem;
  width: 100%;
  overflow: hidden;
  display: vertical;
  align-items: center;
  justify-content: center;
}

.vert-txt-wrapper {
  width: 100%;
  display: vertical;
  align-items: center;
  justify-content: center;
}

.project-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}

/* Footer Contact Section */

footer {
  position: relative;
  margin-top: auto;
  bottom: 0;
  width: 100%;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.social-footer {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 1.5rem;
  background: var(--primary-color);
}

footer ul {
  display: flex;
  gap: 1.7rem;
}

.fa {
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--bg-color);
}

.fa:hover {
  color: var(--secondary-color);
}

/* dynamic padding */

.padding {
  padding-left: 1rem; 
  padding-right: 1rem;

  @media (min-width: 640px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: 1024px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* phone stuff */

@media screen and (max-width: 720px) {

  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin-bottom: 18px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .short-intro
  {
    flex-direction: column;
    gap: 0;
  }
  
  .bio {
    width: 18rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .projects-container {
    flex-direction: column;
  }

  .vert-projs-container{
    flex-direction: column;
  }

  .multi-img-wrapper {
    flex-direction: column;
  }

  .project-details-container {
    width: 20rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  .proj-skills-container {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 0.5rem;
  }

  .proj-skills-card {
    padding: 0.4rem;
    margin: 1rem 0.5rem 0rem 1rem;
    width: 4rem;
    font-size: 0.6rem;
  }

  .large-proj-skills-card {
    width: 6rem;
  }

  .single-proj {
    margin-top: -2rem;
    padding: 1rem 2rem;
  }

  .single-proj h1 {
    text-align: center;
  }

  .single-proj p {
    text-align: justify;
  }

  .single-proj-img {
    display: block;
    width: 75%;
  }

  .environment-proj-img {
    display: block;
    width: 100%;
  }
  
}